#container {
  position: relative;
}

#button-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
}

#sidebarSheet {
  position: absolute;
  top: 270px;
  right: -300px;
  width: 300px;
  height: 100%;
  
}

#characterSheet {
  background-color: #ccc;
}