#cc-form {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 1rem;
}

#cc-form input {
    width: 10rem;
}

#cc-character-name-button {
    width: 5rem;
    display: inline-block;
}

form * {
    margin: 0 1rem;
}