.cc-header {
    text-align: center;
}

.cc-header-title {
    border: black 2px solid;
    display: inline-block;
    padding: 2rem;
}

.cc-header-subtitle {
    border-bottom: black 1px solid;
    display: inline-block;
}